/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar
app/config/parameters.ini
web/uploads/*
var/spool/*
vendor/*
web/bundles/*
#web/css/*
#web/js/*
web/media/cache/*
web/videos/*
nbproject/private/private.xml
.sass-cache
node_modules
.idea/
web/.htaccess
