{% extends "::base.html.twig" %}

{% block title %} Dashboard{% endblock %}

{% block body %}


    <div class="container text-center">

        <div class=" ">
            <div class=" ">
                <h1>Dashboard</h1>

                <a href="{{path('logout')}}">Cerrar sesión</a>

            </div>
        </div>


    </div>


{% endblock %}
