{% extends "::master.html.twig" %}


{% block title %} <title>Dashboard</title>{% endblock %}

 {% block body %}
    
    <div class="widget">

         
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Important Shortcuts</h3>
            </div>
          

            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts"> 
                                                    
                 </div>
              <!-- /shortcuts --> 
            </div>
{% endblock %}
