
<!DOCTYPE html>
<html>
<head>
<title>Iniciar Sesi칩n</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />


<link rel="stylesheet" href="{{ asset('css/styleIndex.css') }}" /> 

<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="
{{ asset('js/move-top.js') }}"></script>
<script type="text/javascript" src="
{{ asset('js/easing.js') }}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- banner -->
	<div id="home" class="banner-1">
		<div class="header-info">
			<div class="header-info-left">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""/></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
</div>
<!--/header-banner-->
	<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-main">
				<div class="contact-bottom">
					<h3>Iniciar Sesi칩n</h3>
					<div class="contact-text">
						<input type="text" value="Usuario" />
						<input type="password" value="Contrase침a" placeholder="Contrase침a" />
						<div class="contact-but">
							<form action="../indexClientes.html">
						
								<input type="submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-contact-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>Beaker 2017</p>
			</div>
		</div>
	</div>	
	<!--end-footer-->	 
</body>
</html>