{% extends "::base.html.twig" %}

{% block title %} Main{% endblock %}

{% block body %}


    <div class="container text-center">

        <div class=" ">
            <div class=" ">
                <h1>Welcome to the cliente side</h1>
            </div>
            <div class="">
                <h2 class="">Una solución a tu alcance</h2>


               <a href="{{path('login')}}" class="">Ingresar</a>
                <a href="registro" class="">Registro</a>
            </div>
        </div>


    </div>


{% endblock %}
