{% extends "base.html.twig" %}
{% block title %}  Registro  {% endblock %}
{% block body %}

    <div class="container">

        <h2 class="title"><a href="{{ path('index') }}" class=""><span class=""></span></a>
            Dashboard</h2>

    </div>



{% endblock %}