{% extends "base.html.twig" %}
{% block title %} {% endblock %}
{% block body %}

<main class="homepage">

	{{ message }}

</main>

{% endblock %}

{% block scripts2 %}

<!--<script>
	$(window).scroll(function() {
	  var scroll = $(window).scrollTop();
	  var pos = $('.categories').offset().top -100;

	  if (scroll >= pos) {
	     $(".header").addClass("header--scrolled");
	  } else {
	     $(".header").removeClass("header--scrolled");
	  }
	});
</script>-->


{% endblock %}
