{% extends "base.html.twig" %}
{% block title %} Inicio{% endblock %}
{% block body %}

<main class="homepage">

    <div class="container text-center">

        <div class=" ">
            <div class=" ">
                <h1>Beaker</h1>
            </div>
            <div class="">
                <h2 class="">Una solución a tu alcance</h2>


               <a href="#" class="">Ingresar</a>
                <a href="#" class="">Registro</a>
            </div>
        </div>



    </div>

    {#{{ message }}#}

</main>

{% endblock %}

{% block scripts2 %}

<!--<script>
	$(window).scroll(function() {
	  var scroll = $(window).scrollTop();
	  var pos = $('.categories').offset().top -100;

	  if (scroll >= pos) {
	     $(".header").addClass("header--scrolled");
	  } else {
	     $(".header").removeClass("header--scrolled");
	  }
	});
</script>-->


{% endblock %}
