{% extends "::masterAdmin.html.twig" %}


{% block title %} <title>Dashboard</title>{% endblock %}

 {% block body %}
     <div class="widget-header"> <i class="icon-bookmark"></i>
         <h3>Información importante</h3>
     </div>
{% endblock %}
