/***************
  Radio Buttons
***************/

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 5px 15px 5px 0;
  @include transition(.28s ease);

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  &.radio-label-block {
    display: block;
  }
  &.radio-label-border {
    display: block;
    border: 1px solid #C3C3C3;
    height: 46px;
    line-height: 19px;
    padding-top: 3px;
    margin: 0;
    overflow: hidden;
    small {
      display: block;

    }
  }
}


[type="radio"] + .radio-label-border::before,
[type="radio"] + .radio-label-border::after {
  bottom: 0;
  margin: auto;
  left: 10px;
}

[type="radio"] + label::before,
[type="radio"] + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  @include transition(.28s ease);
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label::before {
  border-radius: 50%;
  border: 2px solid $darker-blue;
}
[type="radio"]:not(:checked) + label::after {
  border-radius: 50%;
  border: 2px solid $darker-blue;
  z-index: -1;

  @include transform(scale(0));
}

/* Checked styles */
[type="radio"]:checked + label::before {
  border-radius: 50%;
  border: 2px solid transparent;
}
[type="radio"]:checked + label::after {
  border-radius: 50%;
  border: 2px solid $darker-blue;
  background-color: $darker-blue;
  z-index: 0;
  @include transform(scale(1.02));
}

/* Radio With gap */
[type="radio"]:checked + label::before {
  border-radius: 50%;
  border: 2px solid $darker-blue;
}
[type="radio"]:checked + label::after {
  border-radius: 50%;
  border: 2px solid $darker-blue;
  background-color: $darker-blue;
  z-index: 0;
  @include transform(scale(.5));
}

