$green: #68A324;
$dark-green: #6CAF24;
$darker-green: #5C961E;

$lightest-blue: rgba(0, 159, 227, 0.05);
$blue: #009FE3;
$dark-blue: #1C8FDF;
$darker-blue: #006CB5;
$yellow: #FFD841;
$dark-yellow: #EDB900;
$darker-yellow: #DEA130;
$orange: #F3B600;

$lighter-gray: #F7F7F7;
$light-gray: #EFEFEF;
$gray: #8A8C8F;
